.main{
    text-align: justify;
}
.buttons{
    display: flex;
    justify-content: center;
}

.button{
    margin-right: 10px;
}

.checkboxes{
    display: flex;
    justify-content: flex-start;
}

.checkbox{
    margin-right: 35px;
    margin-left: 5px;
    padding-left: 16px;
}

.new-job-container{
    padding: 2em;
    width: 57%;
    height: 87vh;
}

.cont{
    display: flex;
    justify-content: center;
    height: 92vh;
}